

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,700&display=swap');





body, html {

  font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

    h1{
        font-weight: 800;
        font-size: 50px;
        color: white;
    
    }

        h4{
            color: white;
            font-size: 10px;

    
    


    }

    a.cta,
    button.cta{

        font-size: 30px;
        font-weight: bold;
        color: white;
        background: rgb(248, 3, 3);
        display: inline-block;
        outline:10px solid rgba(191, 8, 8, 0.15);
        box-shadow: 0,0,0,10px red;
        padding: 20px 30px;
        border-radius: 10px;
        text-decoration: none;


    } 

    a.cta.alt,
    button.cta.alt{
        background-color: rgb(168, 23, 23);
        outline:10px solid rgba(191, 8, 8, 0.15);
        box-shadow: 0,0,0,10px red;
        color: #111;
         
    }
    
    h4{
        font-weight: bold;
         font-size: 20px;
    }
   
    .wrapper{
        width: 950px;
        margin: 0 auto;

    }
    

    .hero-banner{
        background-color: rgb(255, 50, 50);
        height: 100vh; 
        padding: 0 20px;
    }
    .hero-banner h4,
    .hero-banner h4 {
        
            font-weight: 800;
            font-size: 30px;
            color: white;
            margin: 0;
    }
    .hero-banner a{
        
        font-weight: 800;
        font-size: 30px;
        color: white;
        margin: 0;
}

    .hero-banner, h1{
color: white;
margin: 14px 0 20px;

.hero-banner, h3{
    color: white;
    margin: 0,0 35px;

    }

    

    h3 {
        font-weight: bold;
        font-size: 30px;


    }
    
    

.ccslogo{


}

    /*
    class="connellcare-banner">
    <div class="wrapper">

         <h4> Connell Care Ltd <a href="www.connellcare.org.uk"> proposes </a> </h4>
         <h1>   Person centered care &amp; <br> From <br>
                The heart <br> 
                Of your <br> Community </h1>
                <h3> We are profesional &amp; On Time <br> Respectful to your Home </h3>
               <a class="cta alt" href=" #more-info"> Read More    </a>
        
</div>
*/

}


